@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(90deg, #070565 0%, #580792 100%);
  --foreground: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
}